<div *ngFor="let item of TasksService.list; let i = index">
  <div class="task-item  {{ item.completed ? 'completed' : TasksService.taskState(item.date) }}">
    <div class="task-info" (click)="TasksService.toggleDone(i)">
      <div class="check-box"></div>
      <div class="task-text">{{ item.content }}</div>
    </div>
    <div class="state">
      <button>{{ item.completed ? "completed" : TasksService.taskState(item.date) }}</button>
    </div>
    <div class="task-controls-box">
      <div class="task-control-button" (click)="EditTask(item.id)">
        <i class="material-icons">edit</i>
      </div>
      <div class="task-control-button is-danger" (click)="TasksService.deleteTask(i)">
        <i class="material-icons">delete</i>
      </div>
    </div>
  </div>
</div>
