.tasks-list {
  background-color: white;
  border-top: 1px solid rgb(117, 157, 243);
}

.tasks-list .title {
  border-bottom: 1px solid rgba(148, 145, 145, 0.3);
  display: block;
  font-size: 22px;
  font-weight: black;
  padding: 25px 15px;
}
