<!-- <div class="container2" *ngIf="!showList && !itemToEdit"> -->
<div class="container2">
  <div class="add-task-box">
    <form (submit)="addTask()">
      <h2 class="title is-5">New task</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input name="inputTask" class="input" type="text" placeholder="Add New Task" [(ngModel)]="tasksService.inputTask" />
        </p>
        <p class="control">
          <input name="dateTask" type="date" id="birthday" name="dueDate" [(ngModel)]="tasksService.dateTask" />
        </p>
      </div>
      <p class="control">
        <button class="button2 alt-gradient-button">
          <i class="material-icons">add</i>
          Add
        </button>
      </p>
    </form>
  </div>
</div>
